@import url("pages/_registro.css");
@import url("pages/producto.css");
@import url("components/_guardados.css");
@import url("layout/_alerta.css");
@import url("pages/mi_cuenta.css");
@import url("pages/busqueda.css");

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}