body.pagina-registro {
    background-color: var(--color-fondo-oscuro);
    background-image: url('/static/img/F.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: var(--fuentePrincipal);
}

.register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-sizing: border-box;
}

.register-container h1 {
    color: var(--color-fondo-oscuro);
    margin-bottom: 30px;
    font-size: 2.8rem;
    text-align: left;
}

.register-container .form-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.register-container .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 0.9em;
    font-weight: bold;
}

.register-container .form-group input[type="email"],
.register-container .form-group input[type="text"],
.register-container .form-group input[type="password"],
.register-container .form-group input[type="date"],
.register-container .form-group select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
}

.register-container .form-group input[type="email"],
.register-container .form-group input[type="text"],
.register-container .form-group input[type="password"],
.register-container .form-group select {
    padding-left: 45px; 
}

.register-container .form-group #password {
    padding-right: 45px;
}

.register-container .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.register-container .form-group input::placeholder,
.register-container .form-group select option[value=""] {
    color: #888;
}

.register-container .form-group.select-wrapper::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.register-container .form-group>i:first-of-type {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1.1em;
}

#toggleAllPasswords {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1.1em;
    cursor: pointer;
    z-index: 10;
}

.error-mensaje {
    color: var(--color-rojo-boton);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 15px;
}