.contenedor-categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 4rem;
    margin-left: 2rem;
}

.categoria-titulo {
    margin: 0;
    color: var(--colortitulos);
    text-transform: uppercase;
    font-size: 2rem;
}

.btn-volver {
    text-decoration: none;
    color: #f39c12;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

.btn-volver:hover {
    color: #e67e22;
}

.grid-categoria {
    width: 100%; 
    margin-top: 1.5rem;
    padding-top: 1.5rem;
   
    padding-left: 0 !important;
    margin-left: 0 !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    border-top: 1px solid #eee;
}