html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
    color: var(--negro);
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: var(--colortitulos);
    font-family: var(--fuentePrincipal);
}


main {
    padding: 0 5rem;
}

.contenido-principal {
    flex-grow: 1;
}