:root {
    --primario: #ffffff;
    --primarioOscuro: #D7D0D0;
    --blanco: #FFF;
    --negro: #000;
    --secundario: #FFA500;
    --colortitulos: #3c6a99;
    --secundarioOscuro: #E69500;
    --color-acento: #f5990c;
    --color-acento-hover: #f7a92c;
    --color-acento-claro: #f0b773;
    --color-acento-modal: #ff9900;
    --color-fondo-header: #ede9e1;
    --color-fondo-oscuro: #2c3e50;
    --color-rojo-boton: #a93226;
    --fuentePrincipal: Arial, Helvetica, sans-serif;
}