/*---------------------------------------------------*/
/*-------------------- _forms.css--------------------*/
/*---------------------------------------------------*/
/* Formulario genérico (usado en página de producto) */
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}