{% extends 'base.html' %}

{% block title %}BIBLIONUBE - BÚSQUEDA{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/pages/busqueda.css">
{% endblock %}

{% block content %}
    <div class="contenedor-categoria">
        <h2 class="categoria-titulo" id="titulo-busqueda">Buscando...</h2>
        
        <a href="/" class="btn-volver">
            <i class="fa-solid fa-chevron-left"></i> Volver
        </a>

        <div class="grid-categoria" id="grid-resultados">
            <p style="text-align: center; width: 100%;">Cargando resultados...</p>
        </div>
    </div>
{% endblock %}